<div class="is-center">
  <h1 class="title has-text-centered is-2">
    Let's Play QuizWhiz
  </h1>
  <h2 class="subtitle is-4 has-text-centered">
    Select quiz category & difficulty and click button below to start.
  </h2>
  <br>
  <div class="options is-flex is-justify-content-center is-flex-wrap-wrap p-1 mb-6">
    <a class="tag m-2  is-info  is-large is-clickable" (click)="open()">{{quizOptionsService.quizOptions().amount}} Questions</a>
    <a class="tag m-2  is-info  is-large is-clickable" (click)="open()" [innerHTML]="quizOptionsService.categoryLabel()"></a>
    <a class="tag m-2  is-info  is-large is-clickable" (click)="open()" [innerHTML]="quizOptionsService.difficultyLabel()"></a>
  </div>
  <p class="has-text-centered">
    <button (click)="startQuiz()" class="button is-large is-primary">
      Play QuizWhiz
    </button>
  </p>
</div>

<app-quiz-options-modal *ngIf="openOptions" (close)="close()"></app-quiz-options-modal>



