<div class="app is-flex is-flex-direction-column">
  <app-header [title]="title" [subTitle]="subTitle"></app-header>
  <section class="section app-content">
    <div class="container">
      <div class="columns">
        <div *ngIf="quizProgress.quizInProgress()" class="column is-3">
          <app-aside-progress></app-aside-progress>
        </div>
        <div class="column" [ngClass]="quizProgress.quizInProgress() ? 'is-9' : 'is-12'">
          <div class="content is-large">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
