<ng-container *ngIf="!quizProgressService.allQuestionsAnswered() else reviewTemplate">
  <h3 class="is-3 has-text-weight-normal is-flex is-justify-content-space-between">Progress <span class="is-hidden-tablet">{{ quizProgressService.nextQuestionNumber() }}
    / {{ quizProgressService.totalNumberOfQuestions() }}</span></h3>
  <div class="is-size-2 is-hidden-mobile is-flex is-justify-content-space-between"><span>{{ quizProgressService.nextQuestionNumber() }}
    / {{ quizProgressService.totalNumberOfQuestions() }}</span> <span *ngIf="false">1:34</span></div>
  <progress class="my-5 progress is-primary is-large" [value]="quizProgressService.progressPercentage()" max="100">
  </progress>

  <app-quiz-question [question]="quizProgressService.nextQuestion()!"
                     [questionNumber]="quizProgressService.nextQuestionNumber()"
                     (updateQuestion)="onQuestionChange($event)"
  ></app-quiz-question>

  @if (quizProgressService.nextQuestionIndex() >= 0 && (quizProgressService.nextQuestionNumber() !== quizProgressService.totalNumberOfQuestions())) {
    <button [disabled]="!update?.selectedAnswer" (click)="next()"
            class="button my-5 is-primary is-rounded  is-large is-fullwidth">Next
    </button>
  } @else {
    <button [disabled]="!update?.selectedAnswer"
            (click)="review()"
            class="button my-2 is-primary is-rounded is-large is-fullwidth">Finish Quiz
    </button>
  }

  <div class="is-hidden-tablet">
    <hr class="is-bordered">
    <button class="button is-danger is-large is-fullwidth" (click)="endQuiz()">End Quiz</button>
  </div>
</ng-container>
<ng-template #reviewTemplate>
  <app-quiz-review></app-quiz-review>
</ng-template>


